<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sns_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        >
        <activity android:name=".Activities.PopupActivity"  android:theme="@android:style/Theme.Holo.Light.Dialog"/>

        <activity android:name=".Activities.View_FormatActivity" android:theme="@style/Theme.Snsproject"/>

        <activity
            android:name=".Activities.PostActivity"
            android:theme="@style/Theme.Snsproject"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.PermissionActivity" android:theme="@style/Theme.Snsproject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.WritePostActivity"
            android:theme="@style/Theme.Snsproject"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.Password_resetActivity" android:theme="@style/Theme.Snsproject" />
        <activity android:name=".Activities.MainActivity" android:theme="@style/Theme.Snsproject" />
        <activity android:name=".Activities.SignActivity" android:theme="@style/Theme.Snsproject"/>
        <activity android:name=".Activities.LoginActivity" android:theme="@style/Theme.Snsproject" />
    </application>

</manifest>